/* nav bar start */

h2 {
  color: black;
  font-weight: bold;
  /* text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15); */
  color: #47cfa6;

  text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8),
    -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8);
  color: #263f4d;

  text-shadow: 16px 22px 11px rgba(32, 168, 111, 0.8);
  /* font-size: 150%; */
}
.carousel-item {
  align-items: center;
}

/* start from tabs*/

.content {
  text-align: left;
}

nav .nav-tabs li a {
  color: rgb(5, 5, 5) !important;
  font-weight: bold;
}
.tab-pane {
  padding: 10px;
}

#tab2 {
  color: aliceblue;
}
#practiceTab {
  background-color: yellowgreen;
  color: darkslateblue;
}

/* end from tabs*/

body {
  /* background-image: url("../img/happy_family.jpg"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background: rgb(222, 235, 240);

  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
  height: 432px;
  width: 432px;
}

.container {
  display: flex;
}

#colTitle {
  font-weight: bold;
}
.column {
  flex: 1;

  background: #f2f2f2;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.column-one {
  order: 3;
}
.column-two {
  order: 1;
}
.column-three {
  order: 4;
}
